.react-resizable-handle {
  display: block;
  width: 100%;
}

.react-resizable-handle-s {
  height: 1rem;
  width: 100%;
  cursor: row-resize;
}

.react-resizable-handle-e {
  height: 100%;
  width: 1rem;
  cursor: col-resize;
}

.react-resizable {
  width: 100%;
  height: 100%;
}
.resizable-hor {
  display: flex;
}