.work_space {
  width: clamp(40rem, 97vw, 140rem);
  margin: auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .header {
    margin: 2rem max(1rem, 3vw) 2rem;
  }
  .code_space {
    background-color: $base-color;
    flex: 1 1 auto;
    
  }
}