.work_space {
  //@include work-space-container;
  // min-height: 100vh;
  // width: 100%;
  width: clamp(40rem, 100vw, 140rem);
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .header {
    margin: 2rem max(1rem, 3vw) 2rem;
  }
  .code_space {
    background-color: $base-color;
    flex: 1 1 auto;
    
  }
}