* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}


:root {
  --bg-2: 209, 219, 229;
  --bg-1: 122, 120, 134;
  --base-color: 157, 165, 176;
  --shadow-1-color: 209, 219, 229;
  //--shadow-2-color: #0d2750;
  --shadow-2-color: 83, 80, 88;

  --border-1: 103, 112, 117;
  --border-2: 83, 92, 97;
  color: #292d32;

}

.dark_theme {
  --bg-2: 93, 101, 103;
  //--bg-2: 53, 39, 52;
  --bg-1: 73, 71, 73;
  --base-color: 72, 71, 77;
  --shadow-1-color: 113, 121, 123;
  //--shadow-2-color: 41, 45, 50;
  --shadow-2-color: 41, 45, 50;

  //--border-1: 103, 112, 117;
  --border-1: 73, 71, 73;
  --border-2: 33, 19, 32;

  --button-color: rgb(35, 209, 234);
  color: #f0f0f3;
}

@mixin work-space-container {
  width: clamp(40rem, 100%, 140rem);
}