$base-color: rgb(var(--base-color));

$bg-1: var(--bg-1);
$bg-2: var(--bg-2);

$shadow-1-color: var(--shadow-1-color);
$shadow-2-color: var(--shadow-2-color);

$border-color-1: var(--border-1);
$border-color-2: var(--border-2);