.panel {
  @include work-space-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  @include drop-shadow;
  border-radius: 2rem;
  background-image: linear-gradient(120deg, rgb($bg-1), rgb($bg-2));

  .header_panel {
    width: 96%;
    height: 5rem;
  }

  .body_panel {
    width: 96%;
    height: clamp(10rem, 100%, 60rem);
  }

  .collapse {
    display: none;
  }
}
