.panel {
  @include work-space-container;
  @include board;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .header_panel {
    width: 96%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
  }

  .body_panel {
    width: 96%;
    height: clamp(10rem, 100%, 60rem);
    animation: collapse-down .5s;
  }

  .collapse {
    animation: collapse-up .5s;
    overflow: hidden;
    & * {
      display: none;
    }
  }
}

@keyframes collapse-up {
  0% {
    height: clamp(10rem, 100%, 60rem);
    display: block;
  }

  100% {
    height: 0;
   
  }
}

@keyframes collapse-down {
  0% {
    height: 0;

  }

  100% {
    height: 100%;
  }
}
