.iframe {
  position: relative;
  height: 100%;
  width: 100%;

  iframe {
    height: 100%;
    width: 100%;
    background-color: #fff;
  }

  .error {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: red;
    font-size: 1.6rem;
  }
}
